<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= file.name %></title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1><%= file.name %></h1>
      <ul class="file-details">
        <li class="file-size">Size: <%= file.fileSizeString %></li>
        <li class="file-time">
          Upload time: <%= `${new Date(file.uploadTime).toLocaleDateString()}
          ${new Date(file.uploadTime).toLocaleTimeString()}` %>
        </li>
        <li class="file-download">
          <a href="/file/download/<%= file.id %>">
            <img class="action-icon" src="/download.svg" alt="download-file"
          /></a>
        </li>
        <li class="file-delete">
          <a href="/file/delete/<%= file.id %>">
            <img class="action-icon" src="/trash-can.svg" alt="delete-file"
          /></a>
        </li>
      </ul>
    </div>
  </body>
</html>
