<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= file.name %></title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1><%= file.name %></h1>
      <ul>
        <li>Size: <%= file.fileSize %>B</li>
        <li>
          Upload time: <%= `${new Date(file.uploadTime).toLocaleDateString()}
          ${new Date(file.uploadTime).toLocaleTimeString()}` %>
        </li>
      </ul>
    </div>
  </body>
</html>
