<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1>Welcome to File Uploader!</h1>
      <% if (locals.folders) { if (folders.length > 0) { %>
      <h2>Folders</h2>
      <p>Click on folder to view its files</p>
      <% } %>
      <ul class="folders">
        <% for (const folder of folders) { %>
        <li class="list-item folder-card">
          <a class="folder-link" href="/folder/<%= folder.id %>"
            ><img src="/folder.svg" alt="folder" class="folder-icon" /><%=
            folder.name %></a
          >
          <div class="action-icons">
            <a href="/folder/edit/<%= folder.id %>">
              <img class="action-icon" src="/pencil.svg" alt="edit-folder" />
            </a>
            <a href="/folder/delete/<%= folder.id %>">
              <img
                class="action-icon"
                src="/trash-can.svg"
                alt="delete-folder"
              />
            </a>
          </div>
        </li>
        <% } %>
      </ul>
      <% } if (locals.files) { %> <% if (files.length > 0) { %>
      <h2>Files</h2>
      <p>Click on file to view its details</p>
      <% } %>
      <ul class="files">
        <% for (const file of files) { %>
        <li class="list-item file-card">
          <a class="details-link" href="/file/<%= file.id %>"
            ><img src="/file-document.svg" alt="file" class="file-icon" />
            <span><%= file.name %></span></a
          >
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
