<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1>Welcome to File Uploader!</h1>
      <% if (locals.folders) { %>
      <h2>Folders</h2>
      <ul>
        <% for (const folder of folders) { %>
        <li class="list-item">
          <a class="folder-link" href="/folder/<%= folder.id %>"
            ><%= folder.name %></a
          >
        </li>
        <% } %>
      </ul>
      <% } if (locals.files) { %>
      <h2>Files</h2>
      <ul>
        <% for (const file of files) { %>
        <li class="list-item">
          <span><%= file.name %></span
          ><a class="details-link" href="/file/<%= file.id %>">Details</a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
